.main-menu {
  width: 25%;
  background-color: rgba(107, 87, 34, 0.644);
  height: 88.5vh;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
  position: fixed;
}

.main-menu-content {
  padding: 20px;
}

.menu-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.menu-header h1 {
  font-size: 1.5em;
  margin: 0;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 20px 10px;
  margin: 10px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.menu-item .icon {
  font-size: 2.5em;
  margin-right: 30px;
}

.menu-item .text {
  flex: 1;
  font-size: 20px;
  color:antiquewhite;
  width: 100%; /* Ensure text takes full width */
}
.submenu {
  display: none;
  list-style: none;
  padding: 10px;
  margin: 10px ;
  width: 100%;
  background-color: rgba(114, 84, 48, 0.642);
}

.submenu-item {
  padding: 10px 20px;

}

.sa {
  font-size: 20px;
  font-family: inherit;
  text-decoration: none;
  color:blanchedalmond;
  transition: .5s;
  text-decoration: none;
}

.sa:hover {
  text-decoration: dashed;
  color: #fff;
  margin-left: 35px;
  font-size: 30px;
}

.menu-item.dropdown:hover .submenu {
  display: block;
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
  color: burlywood;
}